*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Character {
    width: 100%;
    background-color: rgb(69, 67, 64);
}

.title {
    font-size: 3rem;
    text-align: center;
    color: white;
    padding-top: 30px;
}

.box {
    display: flex;
    justify-content: space-evenly;
    border-radius: 15px;
    color: white;
    padding-bottom: 30px;
}

.cards{
    height: 70vh;
    width: 22vw;
    background-color: rgb(100, 97, 97);
    text-align: center;
    border-radius: 15px;
    margin-top: 40px;

}
.cards img {
    width: 200px;
    height: 38vh;
    margin-bottom: 70px;
    margin-top: 20px;
    justify-content: center;
}

.box :hover{
    transform: scale(1.1);
}